<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in phone.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in phone.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt class="desctitle">Availability</dt>
      <dt ng-repeat="availability in phone.availability">{{availability}}</dt>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt class="desctitle">Type</dt>
      <dt>{{phone.battery.type}}</dt>
      <dt class="desctitle">Talk Time</dt>
      <dt>{{phone.battery.talkTime}}</dt>
      <dt class="desctitle">Standby time (max)</dt>
      <dt>{{phone.battery.standbyTime}}</dt>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt class="desctitle">RAM</dt>
      <dt>{{phone.storage.ram}}</dt>
      <dt class="desctitle">Internal Storage</dt>
      <dt>{{phone.storage.flash}}</dt>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt class="desctitle">Network Support</dt>
      <dt>{{phone.connectivity.cell}}</dt>
      <dt class="desctitle">WiFi</dt>
      <dt>{{phone.connectivity.wifi}}</dt>
      <dt class="desctitle">Bluetooth</dt>
      <dt>{{phone.connectivity.bluetooth}}</dt>
      <dt class="desctitle">Infrared</dt>
      <dt>{{phone.connectivity.infrared | checkmark}}</dt>
      <dt class="desctitle">GPS</dt>
      <dt>{{phone.connectivity.gps | checkmark}}</dt>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt class="desctitle">OS Version</dt>
      <dt>{{phone.android.os}}</dt>
      <dt class="desctitle">UI</dt>
      <dt>{{phone.android.ui}}</dt>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt class="desctitle">Dimensions</dt>
      <dt ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dt>
      <dt class="desctitle">Weight</dt>
      <dt>{{phone.sizeAndWeight.weight}}</dt>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt class="desctitle">Screen size</dt>
      <dt>{{phone.display.screenSize}}</dt>
      <dt class="desctitle">Screen resolution</dt>
      <dt>{{phone.display.screenResolution}}</dt>
      <dt class="desctitle">Touch screen</dt>
      <dt>{{phone.display.touchScreen | checkmark}}</dt>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt class="desctitle">CPU</dt>
      <dt>{{phone.hardware.cpu}}</dt>
      <dt class="desctitle">USB</dt>
      <dt>{{phone.hardware.usb}}</dt>
      <dt class="desctitle">Audio / headphone jack</dt>
      <dt>{{phone.hardware.audioJack}}</dt>
      <dt class="desctitle">FM Radio</dt>
      <dt>{{phone.hardware.fmRadio | checkmark}}</dt>
      <dt class="desctitle">Accelerometer</dt>
      <dt>{{phone.hardware.accelerometer | checkmark}}</dt>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt class="desctitle">Primary</dt>
      <dt>{{phone.camera.primary}}</dt>
      <dt class="desctitle">Features</dt>
      <dt>{{phone.camera.features.join(', ')}}</dt>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dl>
      <dt>{{phone.additionalFeatures}}</dt>
    </dl>
  </li>
</ul>
