<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            style="border-bottom: 1px solid rgb(205, 205, 205);"

            ng-style="{{phone.price}} >= expensiveThreshold && {'border-right': '5px solid rgba(255,210,207, 1)'} ||
                  {{phone.price}} < cheapThreshold && {'border-right': '5px solid rgba(214,245,214, 1)'} ||
                  {{phone.price}} >= cheapThreshold && {{phone.price}} < expensiveThreshold && {'border-right': '5px solid rgba(238,	220,	130, 1)'}";

            class="thumbnail phone-listing" ng-class="{expensive : {{phone.price}} >= expensiveThreshold,
                  moderate : {{phone.price}} >= cheapThreshold && {{phone.price}} < expensiveThreshold,
                  cheap : {{phone.price}} < cheapThreshold }" >
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          <h3>{{phone.price | currency:"£"}}</h3>
          <!--<p>£{{phone.price}}</p>-->
        </li>
      </ul>

    </div>
  </div>
</div>
